{% extends "admin_dashboard/dashboard_base.html" %}

{% load form_filters %}
{% block content %}

<!-- Container for the form -->
<div class="container mt-4">
    <h2 class="my-4 text-center">Create New Category</h2>
    <div class="card shadow-sm">
        <div class="card-header">
            <h4 class="card-title">Category Information</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <!-- Form fields with custom width -->
                <div class="form-group">
                    <label for="id_name">Category Name</label>
                    {{ form.name|add_class:"form-control w-100" }}
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Create Category</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
